*{
    margin: 0;
    
}
*,
*:before,
*:after{
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  margin: 0;
}
header{
    background-color: yellow;
    padding: 1rem;
    position: sticky;
    top: 0;
}
h1, h2{
    text-align: center;
}
section{
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 90vh;
  text-align: center;
}

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #000; }

      .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative; }
      
      .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px; }
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
          width: 40px;
          height: 4px;
          background-color: #000;
          border-radius: 4px;
          position: absolute;
          transition-property: transform;
          transition-duration: 0.15s;
          transition-timing-function: ease; }
        .hamburger-inner::before, .hamburger-inner::after {
          content: "";
          display: block; }
        .hamburger-inner::before {
          top: -10px; }
        .hamburger-inner::after {
          bottom: -10px; }
/*
   * Spring
   */
   .hamburger--spring .hamburger-inner {
    top: 2px;
    transition: background-color 0s 0.13s linear; }
    .hamburger--spring .hamburger-inner::before {
      top: 10px;
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--spring .hamburger-inner::after {
      top: 20px;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  
  .hamburger--spring.is-active .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent !important; }
    .hamburger--spring.is-active .hamburger-inner::before {
      top: 0;
      transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(45deg); }
    .hamburger--spring.is-active .hamburger-inner::after {
      top: 0;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(-45deg); }
  
  /*
     * Spring Reverse
     */
  .hamburger--spring-r .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--spring-r .hamburger-inner::after {
      top: -20px;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
    .hamburger--spring-r .hamburger-inner::before {
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  
  .hamburger--spring-r.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger--spring-r.is-active .hamburger-inner::after {
      top: 0;
      opacity: 0;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
    .hamburger--spring-r.is-active .hamburger-inner::before {
      top: 0;
      transform: rotate(90deg);
      transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }
.panel{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.85);
  transition: transform 0.3s ease;
  /*De arriba*/
  transform: translate(0, -100%);
}
.panel.is-active{
  transform: translate(0, 0);
}

nav{
  padding: .2rem 1rem;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
nav a{
  width: inherit;
  display: block;
  font-size: 1rem;
  transition: all 0.3s ease;
  text-decoration: none;
  text-transform: uppercase;
  font-size: large;
  color: yellow;
  padding: .9rem 0;
}
nav a:hover{
  background-color: yellow;
  color: black;
}
.panel-btn{
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(149, 240, 149);
}
.area{
  background-color: #000;
  display: flex;
  margin-left: auto ;
  margin-right: auto;
  min-height: 50vh;
}
.circle{
  background-color: rgb(149, 240, 149);
  width:50px;
  height: 50px;
  border-radius: 50%;
  padding: 1rem;
  margin: auto;
}
.top{
  position: fixed;
  bottom: 1vh;
  right: calc(4.25rem + 1vw);
  z-index: 998;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(149, 240, 149);
  border: none;
  cursor: pointer;
  text-decoration: none;
  visibility: hidden;
  opacity: 0;
}
.top a{
  text-decoration: none;
}
.mode{
  position: fixed;
  bottom: 1vh;
  left: 1vw;
  z-index: 998;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(149, 240, 149);
  border: none;
  cursor: pointer;
}
.moon, .sun{
  position: relative;
  left:13px;
  font-size: 25px;
}
.sun{
  left:-15px;
}
.invisible{
  visibility: hidden;
  opacity: 0;
}
#section4{
  display: flex;
  flex-direction: column;
}
#section4 a{
   color:yellow;
   text-decoration: none;
}
.hidden{
  display: none;
}

/**Responsive tester*/
#form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#form input{
  border-radius: 0.5rem;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
}
#submit{
  background-color: rgb(169, 237, 169);
  border: none;
  outline: none;
}
#close{
  background-color: rgb(246, 156, 123);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

/*Detector de redes*/
#network{
  background-color: red;
  height: 100px;
  width: 100%;
  visibility: hidden;
  padding: 1rem;
  text-align: center;
  color: white;
  z-index: 999;
  position: fixed;
  top: 0;
}
/*Detector de Cámara web*/
#on ,#off{
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  background-color: rgb(178, 243, 178);
  font-weight: bold;
}
#off{
  background-color: rgb(252, 131, 131);
}
/*Filtro de Búsqueda*/
#container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
#container figure img{
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: .5rem;
}
/*Sortear ganador*/
#find-winner{
  outline: none;
  background-color: rgb(166, 248, 166);
  font-weight: bold;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  padding: 1rem 1.5rem;
}
/*Slider*/
.container-img img{
  display: inline-block;
  width: 500px;
  height: 300px;
  border-radius: .5rem;
  transition: all 0.3s ease;
  
}
.buttons-arrow{
  position: relative;
  top:-150px;
  display: flex;
  justify-content: space-around;
}
.buttons-arrow button{
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 1rem;
  font-size: 2rem;
  background-color: rgb(10, 164, 247);
}